<app-header id="app-header"></app-header>

<app-downloader id="app-downloader"></app-downloader>

<app-preview style="display: none;" id="app-preview"></app-preview>

<app-how-it-works id="app-how-it-works"></app-how-it-works>

<app-supported-platforms id="app-supported-platforms"></app-supported-platforms>

<app-faq id="app-faq"></app-faq>

<app-ready-to-download id="app-ready-to-download"></app-ready-to-download>

<app-footer id="app-footer"></app-footer>


<!-- <app-check-html></app-check-html> -->












